*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.taskinput{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    /* box-sizing: border-box; */
    height: 450px;
    width:600px;
    background-color: rgb(247, 247, 250);
    /* margin-top: 25px; */
    border-radius: 20px;
    /* text-decoration: blue; */
}

.displaytask{
    height:330px;
    width:500px;
    background-color: rgb(16, 3, 65);
    border-radius: 30px;
    margin-bottom: 20px;
}

.inputmain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    width:500px;
    /* background-color: rgb(147, 147, 245); */
    /* margin-left: 35%; */
}
.input_bar{
    height:40px;
    width:290px;
    line-height: 30px;
    padding: 0 10px;
    /* text-align:center; */
    border-radius: 13px;
    border: solid rgb(3, 3, 65) 2px;
    box-sizing: border-box;
    /* color: rgb(3, 3, 65); */
    /* margin: 20px; */
}

.add_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width:130px;
    border: none;
    background-color:rgb(3, 3, 65);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#options{
    height:40px;
    width:100px;
    border-radius: 10px;
    /* color: ; */

}

.input_bar::placeholder {
    color:rgb(3, 3, 65); /* Change this to the desired color */
    opacity: 1; /* Ensures the color is fully opaque */
  }